/*   _ _ _ _____ __ __ _____ _____ _____ 
    | | | |  _  |  |  | __  |  _  | __  |
    | | | |     |_   _| __ -|     |    -|
    |_____|__|__| |_| |_____|__|__|__|__|  STYLE
  
    by Bina 
*/


/* pywal colors */ 
@import '../../.cache/wal/colors-waybar.css';
@define-color bg-active @color3;
@define-color bg-passive @color4;
@define-color text #FFFFFF;

/* general */
* {
    font-family: "CaskaydiaCove Nerd Font";
    border: none;
    border-radius: 16px;
    font-size: 16px;
}

window#waybar {
    background-color: @background;
    transition-property: background-color;
    transition-duration: .5s;

}

/* workspaces */
#workspaces {
    background-color: @background;
    margin: 4px 4px 4px 4px;
    padding: 4px 1px;
    border-radius: 16px;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    margin: 0px 4px;
    padding: 0px 2px;
    border-radius: 16px;
    background-color: @bg-active;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    background: @bg-active;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
    border-radius: 16px;
    min-width: 60px;
    background-size: 400% 400%;
    opacity: 1.0;
}

#workspaces button:hover {
    color: @text;
    background: @bg-active;
    opacity: 0.9;
    border: none;
    box-shadow: none;
}

/* window title */
#window {
    color: @text;
    border-radius: 16px;    
    padding: 1px 8px 0px 8px;
    margin: 4px 1px;
}


/* clock */
#clock {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 10px 0px 10px;
    margin: 4px 1px;
    opacity: 0.9;
    border: none;   
    border-radius: 16px;
}

/* hardware group */
#cpu,#temperature,#disk,#memory {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: @text;
}

/* audio */
#pulseaudio {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 8px 0px 8px;
    margin: 4px 1px 4px 4px;
    opacity: 0.9;

}

/* network */
#network {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 8px 0px 8px;
    margin: 4px 1px;
    opacity: 0.9;
}

#network.ethernet {
    background-color: @background;
    color: @text;
}

#network.wifi {
    background-color: @background;
    color: @text;
}

/* bluetooth */
#bluetooth, #bluetooth.on, #bluetooth.connected, #bluetooth.off {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 8px 0px 8px;
    margin: 4px 1px;
    opacity: 0.9;
}

#custom-weather {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 8px 0px 8px;
    margin: 4px 1px;
    opacity: 0.9;
}

/* custom modules */
#custom-exit {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 12px 0px 8px;
    margin: 4px 1px;
    opacity: 0.9;
}
 
#custom-spotify {
    background-color: @background;
    color: @text;
    border-radius: 16px;    
    padding: 1px 12px 0px 8px;
    margin: 4px 1px;
    opacity: 0.9;
}